@using Aeg.CarService.Entity.Web;
@{
    ViewBag.Title = "About";
}

@if (ViewBag.About != null)
{
    var about = ViewBag.About as About;
    <style>
        .header-about {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-height: 92.2vh;
            background-image: url('@about.Image');
            background-position: center;
            background-size: cover;
            z-index: 100;
        }

        .header-bg {
            background: rgba(0, 0, 0, 0.6);
        }
    </style>
    <section class="header-about ">
        <div class="header-bg">
            <div class="container">
                <div class="content-part row d-flex py-5 text-white text-center px-5">
                    @Html.Raw(about.Motto)
                </div>
            </div>
        </div>
    </section>
    <section class="about-explanation container mt-4">
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(about.Content)
            </div>
        </div>
    </section>
}
<section class="AegCarServiceMap mt-4">
    <div class="container">
        <h1 class="text-center ">Location</h1>
        <div class="row mt-4">
            <div class="col-12">
                @if (ViewBag.MapContact != null)
                {
                    var mapContact = ViewBag.MapContact as MapContact;
                    <span>@Html.Raw(mapContact.Map)</span>
                }
            </div>
        </div>
    </div>
</section>
